<div ng-include="'views/partials/navi.htm'"></div>
<div class="right_col" role="main">
  <!-- top tiles -->
  <div ng-include="'views/partials/header.htm'"></div>

  <div class="row" ng-controller="chartcont">
    <div class="col-md-3 col-md-offset-4">
      <p>Filter Tahun: <input type="text" name="tahun" ng-model="tahun" class="form-control" required /></p>
      <button ng-click="SendData()" class="btn btn-primary">Submit</button>
    </div>
    <p>
    <div class="col-md-12">
      <p align="center">Antrian Terlayani Tahunn : {{tahun}}</p>
      <canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels" chart-series="series">
      </canvas>
    </div>
  </div>
</div>
